<div class="main-content">
  <div class="container-fluid">
      <div class="row container">

          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="#pablo">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">M.Ahmed Rekik </h6>
                      <h4 class="card-title">Hote n 1</h4>
                      <p class="card-description">
                          Co-founder Entreprise x
                      </p>
                      <a href="#pablo" class="btn btn-danger btn-round">Edit Profil</a>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-body">
                      <p>Voulez vous apparaitre dans l'annuaire pour recevoir des invitations de réunion ?<br>
                          Vous pouvez demander ici au administarteur</p>
                      <button class="btn btn-warning" (click)="showNotification('top','right')">Demander</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
