
            <div class="container">
                <br><br>
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="text-danger"><b>Liste des Sites</b></h1>
                        <p>(Ajouter,Modifier,Supprimer une Site)</p>
                    </div>
                </div>
        <div class="row">
        <div class="col-md-12">
            <button  class="btn btn-warning float-right"  data-toggle="modal" data-target="#exampleModalCenter">Créer un nouveau Site</button>
        </div>
        </div>
        <div class="row">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Liste des Sites</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-danger">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Nom
                                  </th>
                                  <th>
                                      Adressse
                                  </th>
                                  <th>
                                      Salles Associés
                                  </th>
                                  <th>
                                      Modifier
                                  </th>
                                  <th>
                                      Supprimer
                                  </th>
                              </thead>
                              <tbody *ngFor="let item of sites">
                                <tr>
                                    <td>{{item["id"]}}</td>
                                    <td>{{item["name"]}}</td>
                                    <td>{{item["adresse"]}}</td>
                                    <td><ul><li *ngFor="let x of item['salles']"> {{x["name"]}}</li></ul> </td>
                                    <td><img   (click)="onClickModif(item)"
                                              data-toggle="modal" data-target="#modifModal"
                                              style="cursor:pointer;" class="mb-4" src="http://www.webdesign-tutoriaux.com/images/resultat-bouton-glassy-gimp.png"
                                              alt="update" width="40" height="40"></td>
                                    <td><img data-toggle="modal" data-target="#suppr_serie" (click)="onClickSuppr(item)" style="cursor:pointer;"
                                             class="mb-4" src="https://png.icons8.com/small/1600/filled-trash.png"
                                             alt="delete" style="width: 2rem;height: 2rem;cursor:pointer;text-align: center"> </td>
                                </tr>
                              </tbody>

                          </table>
                      </div>
                  </div>
              </div>
          </div>

      </div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Créer un nouveau Site</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form [formGroup]="form" autocomplete="off">
                <div class="form-group">
                    <label class="text-info">Nom</label>
                    <input type="text" class="form-control" name="name" formControlName="name">
                </div>
                <div class="form-group">
                <label class="text-info">Adresse</label>
                <input type="text" class="form-control" name="adresse" formControlName="adresse">
                </div>
                    <div >
                        <label class="text-info">Salles</label> &nbsp;<small style="color: gainsboro"> (Ajouter des salles)</small>
                        <img src="assets/img/add.png" (click)="onAddIngredient()" style="cursor: pointer">
                    <div formArrayName="salles">
                        <div
                                *ngFor="let ingredientCtr of form.get('salles').controls; let i=index"
                                [formGroupName]="i"
                                class="row"
                                style="margin-top: 10px;">
                            <div class="col-xs-2">
                                <label> Nom Salle</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        formControlName="name"
                                >
                            </div>
                            <div class="col-xs-2">
                                <label> Capacite salle</label>
                                <input
                                        type="number"
                                        class="form-control"
                                        formControlName="capacite"

                                >
                            </div>
                            <div class="col-xs-2">
                                    <label> Equipement salle</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            formControlName="equipement"
                                            size="3"
                                    >
                            </div>
                            <div class="col-xs-2">
                                <label></label><br>
                                &nbsp;&nbsp;<img src="assets/img/close.png" (click)="onDeleteIngredient(i)" style="cursor: pointer">
                            </div>

                        </div>
                    </div>
                    </div>
                </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning"(click)="onClickAdd()"  data-dismiss="modal">Créer</button>
            </div>
        </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modifModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifModalTitle">Modifier Site <code class='highlighter-rouge display-8'>{{siteToupdate["name"]}}</code></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form [formGroup]="formUpdate">
                    <div class="form-group">
                        <label class="text-info">Nom</label>
                        <input type="text" class="form-control" name="name" formControlName="name" >
                    </div>
                    <div class="form-group">
                        <label class="text-info">Adresse</label>
                        <input type="text" class="form-control" name="adresse" formControlName="adresse">
                    </div>
                    <div >
                        <label class="text-info">Salles</label> &nbsp;<small style="color: gainsboro"> (Ajouter des salles)</small>
                        <img src="assets/img/add.png" (click)="onAddIngredient1()" style="cursor: pointer">
                        <div formArrayName="salles">
                            <div
                                    *ngFor="let ingredientCtr of formUpdate.get('salles').controls; let i=index"
                                    [formGroupName]="i"
                                    class="row"
                                    style="margin-top: 10px;">
                                <div class="col-xs-2">
                                    <label> Nom Salle</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            formControlName="name"
                                    >
                                </div>
                                <div class="col-xs-2">
                                    <label> Capacite salle</label>
                                    <input
                                            type="number"
                                            class="form-control"
                                            formControlName="capacite"

                                    >
                                </div>
                                <div class="col-xs-2">
                                    <label> Etablissement salle</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            formControlName="equipement"
                                            size="3"
                                    >
                                </div>
                                <div class="col-xs-2">
                                    <label></label><br>
                                    &nbsp;&nbsp;<img src="assets/img/close.png" (click)="onDeleteIngredient1(i)" style="cursor: pointer">
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning"(click)="onClickAdd()" data-dismiss="modal">Modifier </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="suppr_serie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Supprimer un projet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- formulaire -->
                Etes-vous sure de vouloir supprimer <code class='highlighter-rouge display-6'>{{serieTodelete["name"]}}</code> de la liste des Serie ?<br/>La suppression est irriversible.
                <!-- formulaire -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onSupprProjet()">Supprimer</button>
            </div>
        </div>
    </div>
</div>